/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and font styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #be4145;
}

/* Header styling */
header {
    background: #8f3134;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 20px 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    margin-top: 30px;
}

.hero h1 {
    font-size: 36px;
}

.hero p {
    font-size: 18px;
}

/* Section styling */
section {
    padding: 40px 20px;
    text-align: center;
}

section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: white;
}

section p {
    font-size: 18px;
    margin-bottom: 30px;
}

/* Projects section */
/*.project-cards {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}*/

.project-card {
    /*background: #9c3538;*/
    padding: 40px;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}

.project-card img {
     width: 50%;
    border-radius: 8px;
  /*  height: 300px;*/
    object-fit: cover;
}

.project-card h3 {
    margin: 15px 0;
}

.project-card a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
}

.project-card a:hover {
    background-color: #555;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
}

form input, form textarea {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
}

form button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

/* Footer styling */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
}